<div id="changePasswordModal" class="modal in" role="dialog" {% if is_modal != null %}style="display: block" {% endif %}>

    <div class="modal-dialog">

        <div class="modal-content input-origin">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="margin: -20px">×</button>
            </div>
            <div class="modal-body">

                <div class="fixedLayout">

                    <h1>{{ 'Change password'|trans }}</h1>

                    {{ form_start(changePasswordForm, {'action': '/change_password/'~token }) }}
                    
                    <div class="form-group">
                        {{ form_label(changePasswordForm.password) }}
                        <div class="input password required">
                            <span {% if error is defined and error.location == 'PASSWORD_CHANGE' %}
                                class="d-inline-block" data-placement="top"
                                data-content='{{ error.data|trans }}'
                                    {% endif %}>
                                {{ form_widget(changePasswordForm.password) }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(changePasswordForm.confirm_password) }}
                        <div class="input password">
                            {{ form_widget(changePasswordForm.confirm_password) }}
                        </div>
                    </div>

                    {{ form_widget(changePasswordForm.submit) }}

                    {{ form_end(changePasswordForm) }}

                </div>

                <br><br>

            </div>

        </div>

    </div>

</div>

{% if error is defined and error.location == 'PASSWORD_CHANGE' %}
    <script>
        $('#changePasswordModal').modal('show');
    </script>
{% endif %}